@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@300&display=swap');

.main {
    overflow-y: auto; 
    height: 730px !important;
}

#header {
    height: 40px;
}

#top {
    height: 50%;
    width: 100%;
    display: inline-block;
}

#top_left {
    position: relative;
    left: 25px;
   
    font-family: 'Manrope', sans-serif;
    color: #73A9E8;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

#top_middle {
    position: relative;
    left: 100px;

    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;

    color: #030735;
}

#top_right {
    position: relative;
    left: 180px;
   
    font-family: 'Manrope', sans-serif;
    color: #73A9E8;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

#bottom {
    height: 42%;
    width: 100%;
    border-bottom: solid;
    border-bottom-color: #E9E9E9;
    border-bottom-width: 1px;
}

#edit {
    position: relative;
    width: 5%;
    left: 100px;

    font-family: 'Manrope', sans-serif;
    color: #73A9E8;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;


}

#selector {
    position: relative;
    width: 35px;
    top: 18px;
    left: 93px;

    border-bottom: solid;
    border-bottom-color: #73A9E8;
    border-bottom-width: 3px;

}

#view {
    position: relative;
    width: 5%;
    left: 245px;

    font-family: 'Manrope', sans-serif;
    color: #979797;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;

}

.photos_and_videos {
    width: 98%;
    height: 300px;
    margin-top: 25px;
    padding-left: 2%;
}

.photos_and_videos_title {
    width: 100%;

    font-family: 'Manrope', sans-serif;
    color: #606060;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    
}

.photo_row {
    width: 100%;
    margin-top: 10px;
}

#drag_reorder {
    position: relative;
    left: 270px;
    width: 90px;
    top:5px;

    font-family: 'Manrope', sans-serif;
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

#playdates {
    width: 96%;
    height: 125px;
    margin-top: 25px;
    padding-left: 4%;
}

#playdates_header {
    font-family: 'Manrope', sans-serif;
    color: #606060;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
}

#playdates_box {
    height: 80%;
    width: 94%;
    margin-top: 7px;

    border: solid;
    border-radius: 8px;
    border-color: #979797;
    border-width: 0.5px;
}

#playdates_count {
    width: 94%;
    padding-top: 3%;
    padding-left: 6%;

    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

#playdates_text {
    width: 94%;
    padding-top: 1%;
    padding-left: 6%;
    
    font-family: 'Manrope', sans-serif;
    color: #606060;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
}


#tagged {
    position: relative;
    top: 10px;
}

#tap_see_all {
    position: relative;
    left: 232px;
    width: 120px;
}

#written_prompts {
    width: 96%;
    height: 270px;
    margin-top: 25px;
    padding-left: 4%;
}

.prompt {
    width: 100%;
    height: 75px;
}