@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@300&display=swap');

#notifications_header {
    position: relative;
    width: 100%;
    height: 50px;
}

#notifications_title {
    padding-left: 6%;
    
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

#notifications_slot {
    padding-top: 3%;
}

.slot {
    vertical-align: top;
}